.Main {
    display: flex;
    justify-content: center;

    nav {
        width: 100%;
        height: 54px;
        background-color: #FFFFFF;
        border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;

        .navi {
            width: 1000px;
            height: 54px;
            border: none;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;

            .navLog {
                width: 350px;
                border: none;
                display: flex;
                justify-content: left;
                align-items: center;

                span {
                    font-family: 'Lobster', cursive;
                    font-size: 30px;
                }
                
            }
        }
        .navSer {
            width: 215px;
            border: none;
            display: flex;
            align-items: center;
            position: relative;

            input {
                width: 300px;
                height: 28px;
                text-align: center;
                background-color: rgba(var(--b3f,250,250,250),1);
                border: 1px solid rgba(var(--ca6,219,219,219),1);
                border-radius: 3px;
            }

            img {
                -webkit-filter: opacity(0.5) drop-shadow(0 0 0 gray);
                filter: opacity(0.5) drop-shadow(0 0 0 gray);;
                cursor: pointer;

                
            }
            .magnifyingGlass {
                position: absolute;
                top: 14px;
                left: 75px;
                width: 15px;
            }
        }

        .navEmo {
            width: 350px;
            border: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .emo {
                width: 120px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    main {
        display: flex;
        justify-content: space-between;
        margin-top: 84px;
        width: 1000px;
        height: 930px;
        border: none;

        .feeds {
            background-color: white;

            article {
                width: 550px;
                border: 1px solid rgba(var(--b6a,219,219,219),1);
                border-radius: 3px;
                display: flex;
                flex-direction: column;
            
                header {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    padding: 0px 20px;
                    align-items: center;
                    width: 550px;
                    height: 60px;

                    .profileImg {
                        width: 40px;
                        height: 40px;
                        border-radius: 70%;
                        overflow: hidden;

                        .proImg {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .profileName {
                        margin-left: 10px;
                        font-size: 15px;

                        .nameFir {
                            font-weight: 600;
                        }
                    }
                }

                .articleImg {
                    width: 550px;
                    height: 600px;
                    border: none;

                    img {
                        width: 99.9%;
                        height: 100%;
                    }
                }

                .commentEmo {
                    width: 550px;
                    height: 60px;
                    padding-left: 20px;
                    border: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                .whoLike {
                    width: 550px;
                    height: 40px;
                    padding: 0px 20px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    border: none;

                    .likeImg {
                        width: 30px;
                        height: 30px;
                        border-radius: 70%;
                        overflow: hidden;
                        margin-right: 10px;

                        .proImg {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .likePeople {
                        font-weight: 600;
                    }
                }

                .comment {
                    width: 550px;
                    height: 100px;
                    padding: 0px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    border: none;
                    justify-content: space-evenly;
                    margin-bottom: 5px;

                    .mainComment .point {
                        font-weight: 600;
                        margin-right: 5px;
                    }
                    
                    .allComment .allPoint {
                        color: gray;
                        font-size: 14px;
                    }

                    .preComment .point {
                        font-weight: 600;
                        margin-right: 5px;
                    }

                    .commentDay .dayPoint {
                        color: gray;
                        font-size: 12px;
                    }
                }

                .getComment {
                    width: 550px;
                    height: 60px;
                    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
                    padding: 0px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input {
                        width: 450px;
                        height: 40px;
                        border: none;
                    }

                    button {
                        width: 60px;
                        height: 40px;
                        border: none;
                        border-radius: 3px;
                        background-color: white;
                        color: #B9DFFC;
                    }
                }
            }

            .right {
                position: fixed;
                right: 450px;
                border: none;
                width: 400px;
                height: 400px;

                .inforUser {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 400px;
                    height: 100px;
                    border: none;
                    margin-bottom: 20px;

                    .userIntro {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .userImg {
                            width: 60px;
                            height: 60px;
                            border-radius: 70%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .userleName {
                            margin-left: 20px;
                            
                            .userFir {
                                font-weight: 600;
                            }
                            
                            .userSec {
                                color: gray;
                            }
                        }
                    }

                    .trans {
                        color: #0095F6;
                    }
                }

                .story {
                    width: 400px;
                    height: 130px;
                    border: 1px solid rgba(var(--b6a,219,219,219),1);
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-top: 5px;

                    .storyEx {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 20px;

                        .storySto {
                            color: gray;
                        }
                    }

                    .storyList {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px 30px;

                        .storyImg {
                            width: 40px;
                            height: 40px;
                            border-radius: 70%;
                            overflow: hidden;

                            .storyUser {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .userleName {
                            margin-left: 20px;
                            
                            .userFir {
                                font-weight: 600;
                            }
                            
                            .userSec {
                                color: gray;
                            }
                        }
                    }
                }

                .recommend {
                    width: 400px;
                    height: 130px;
                    border: 1px solid rgba(var(--b6a,219,219,219),1);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 5px 0px;

                    .recommendForYou {
                        width: 400px;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 20px;

                        .recommendSto {
                            color: gray;
                        }
                    }

                    .recommendList {
                        width: 400px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 30px;

                        .listLeft {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: flex-start;

                            .recommendPeople {
                                width: 40px;
                                height: 40px;
                                border-radius: 70%;
                                overflow: hidden;

                                .recommendImg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .recommendName {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: center;
                                padding-left: 10px;
                            }
                        }

                        .trans {
                            color: #0095F6;
                        }
                    }
                }
            }        
        }
    }
}


.otherComment {
    display: flex;
    justify-content: space-between;

}